---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="EDGE-SENSE"
  description="EDGE SENSE is a trailblazing recommendation software that harnesses the principles of graph databases to deliver highly personalized and relevant recommendations. It is meticulously engineered to enhance user engagement and experience across a broad spectrum of applications."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div
      class="flex max-w-full content-center items-center justify-center text-center"
    >
      <img class="w-96" src="../../public/Edge-sense.png" alt="" />
    </div>
    <div class="mt-5">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        Graph-Based Recommendation System <br class="hidden sm:inline" />
      </h1>
      <div class="mt-5">
        <p class="text-xl">
          EDGE SENSE is a trailblazing recommendation software that harnesses
          the principles of graph databases to deliver highly personalized and
          relevant recommendations. It is meticulously engineered to enhance
          user engagement and experience across a broad spectrum of
          applications.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
